<app-confirmation #deleteConfirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<app-alert #alertComponent>
</app-alert>

<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">{{header}}</span>
        </h3>
    </div>
    <div class="card-body py-3">
        <div class="table-responsive">
            <!-- begin::Table -->
            <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                <thead></thead>
                <tbody>
                    <ng-container *ngFor="let item of basket; let i=index">
                        <tr>
                            <td>
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                        <img [src]="item.fileResult.fileContents" style="height: 8.75rem; width: auto;">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                        {{item.name}}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="text-gray-900 fw-bolder text-hover-primary fs-6">
                                        {{item.numberOf}}

                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="fw-bolder text-primary-900 fs-6">
                                        {{item.price.toFixed(2)}} ₺
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a (click)="openDeleteModal(item.id)" class="
                        btn btn-icon btn-bg-light btn-active-color-danger btn-sm
                    ">
                                    <span [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                        " class="svg-icon svg-icon-3"></span>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="i == basket.length-1">
                            <td></td>
                            <td></td>
                            <td>
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="fw-bolder text-danger fs-4">
                                        {{numberOfItem}}
                                    </a>
                                </div> 
                            </td>
                            <td>
                                <div class="d-flex justify-content-start flex-column">
                                    <a class="fw-bolder text-danger fs-4">
                                        {{totalPrice.toFixed(2)}} ₺
                                    </a>
                                </div> 
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="basket.length == 0">
                        Your cart is empty. 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>