<app-menu-editsave #editSaveComponent (isSuccess)="isSuccess($event)">
</app-menu-editsave>

<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<app-alert #alertComponent>
</app-alert>

<app-datatable [header]="tableName" [paginationModel]="paginationModel" [dataSource]="dataSource"
    [totalCount]="totalCount" [columnList]="columnList" (paginationModelChange)="paginationModelChange($event)"
    (newButtonClick)="openSaveModal($event)" (editButtonClick)="openEditModal($event)" (deleteButtonClick)="openDeleteModal($event)"
    class="card card-xxl-stretch mb-5 mb-xl-8"
    [hasEditPermission]="hasEditPermission" [hasDeletePermission]="hasDeletePermission" [hasNewRecordPermission]="hasNewRecordPermission"></app-datatable>